[Unit]
Description=Video trigger
After=multi-user.target
Requires=multi-user.target

[Service]
User=root
Environment=DISPLAY=:0
ExecStart=/usr/bin/python -u /home/pi/video-trigger/video_trigger.py
Type=idle

[Install]
WantedBy=multi-user.target
