[Unit]
Description=Video trigger
After=multi-user.target
Requires=multi-user.target

[Service]
ExecStart=/usr/bin/python -u /home/pi/video-trigger/video-trigger.py 2>&1
Type=idle

[Install]
WantedBy=multi-user.target
